h2{
    .libre-baskerville-bold 
        font-family:"Libre Baskerville", serif;
        font-weight: 700;
        font-style: normal;
}
h1{
    .libre-baskerville-regular-italic 
        font-family:"Libre Baskerville", serif;
        font-weight: 400;
        font-style: italic;
}
body{
    background-color:lavenderblush;
}